MCP_HTTP_PORT=8086
MCP_BIND_ADDRESS=0.0.0.0

GOOGLE_CREDENTIALS_PATH=fastmcp/.google/credentials.json
GOOGLE_TOKEN_PATH=fastmcp/.google/token.json
GOOGLE_SCOPES=https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/documents https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/presentations https://www.googleapis.com/auth/gmail.modify https://www.googleapis.com/auth/gmail.send https://www.googleapis.com/auth/calendar

MCP_PRETTY_JSON=false
MCP_RESPONSE_ENVELOPE=true
MCP_LOG_REQUESTS=false
MCP_LOG_LEVEL=INFO
MCP_RETRY_MAX=2
MCP_RETRY_BASE_SECONDS=0.5
MCP_RETRY_MAX_SECONDS=4.0
MCP_REQUIRE_CONFIRM=false
MCP_DRIVE_ALLOWLIST_PARENT_ID=
MCP_MAX_DOWNLOAD_BYTES=5000000
MCP_WORKERS=1
